body{
  background: #FF5733  ;
  border-radius: 4%;
  text-align: center;
}
h2{
  font-weight: 1000;
  font-style: italic;
}
.parent{
  border: 2px solid #800080;
  border-radius: 4%;



  background: #808080;
  display: flex;
  justify-content: center;
  margin: 5%;
  padding: 3%;
}
.child{
  background: #008080;
  width: 30%;
  padding: 3%;
margin:1%;
text-align:center;
border: 2px solid #00FFFF;
border-radius: 4%;
}
img{
  width: 80%;
  height: 50%;
}
@media screen and (max-width:766px) {
  .parent{
    flex-wrap: wrap;
  }
  .child{
    width: 100%;
  }
}
  @media screen and (min-width:768px) and (max-width:1023px){
    .parent{
      flex-wrap: wrap;
    }
  .child{
    width: 30%;
  }
}
